
//	******************************************************************
//	Compass Framework
//	******************************************************************
	
@import
	"compass/reset",
	"compass/utilities",
	"compass/css3",
	"compass/typography/vertical_rhythm",
	"compass/layout/grid-background";

//	******************************************************************
//	Global Variables
//	******************************************************************
	
// Vertical Rhythm
$base-font-size: 16px;
$base-line-height: 25px;


// Debug Vertical Grid
$debug: 0;
$grid-background-baseline-height: 1.461538462em;
$grid-background-baseline-color: rgba(255, 0, 0, 0.4);

// Horizontal Grid
$max-width: 940px;
$gutter: 20px;
$content-column: percentage(695 / 940);
$sidebar-column: percentage(225 / 940);

// Base Styles
$font-family: "Helvetica Neue", sans-serif;
$text-color: #000;
$green: #21b685;

//	******************************************************************
//	Base Styles
//	******************************************************************

// Sets body font size based on vertical rhythm
@include establish-baseline($base-font-size);

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%; 
}

body {
	font-family: $font-family;
	color: $text-color;

	background: url('/assets/images/sidebar.png') 0px 0px repeat-y;

	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%; 
}

//	******************************************************************
//	Imports
//	******************************************************************
@import
	"tools",
	"typography",
	"forms";


//	******************************************************************
//	Main Layout
//	******************************************************************

#welcome {
	max-width: $max-width;
	position: relative;
}


header#top {
	position: fixed;
	//width: $sidebar-column;
	width: 225px;
	top: 0px;
	left: 0px;


	h1 {
		margin: 0;
		padding: 0;
		border: none;

		height: 110px;
		background: url('/assets/images/logo_bg.png') 0px 0px no-repeat;
		a {
			display: block;
			height: 110px;
			background: url('/assets/images/logo.png') 0px 0px no-repeat;
			text-indent: -99999px;
			border: none;
			position: relative;

  			span {
				display: block;
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0px;
				left: 0px;
				background: url('/assets/images/logo.png') 0px -110px no-repeat;
				opacity: 0;

				@include transition-property(opacity);
  				@include transition-duration(0.5s);
  				-webkit-transition-timing-function: ease-in;  

  				&:hover {
  					opacity: 1;
  				}


			}
		}
	}

	nav {
		font-size: 12px;
		text-transform: uppercase;
		padding: ($gutter) 0;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				margin: 0;
				padding: 0;
			}
		}
		a {
			display: block;
			padding: ($gutter / 2) $gutter;
			font-weight: bold;
			@include text-shadow(0px -1px 1px rgba(0,0,0,0.2));
			@include background-clip(padding-box);
			border-bottom: 1px solid rgba(255,255,255,0);
			border-top: 1px solid rgba(255,255,255,0);
			position: relative;
			@include transition-property(all);
  			
			@include transition-duration(0.2s);
				-webkit-transition-timing-function: ease-in-out;

			&:hover {
				
				background: rgba(33,182,133,0.8);
				color: #fff;
				border-top-color: rgba(13,74,54,0.7);;
				border-bottom-color: rgba(255,255,255,0.075);
			}

			&.active {
				background: rgba(0,0,0,0.25);
				border-top-color: rgba(0,0,0,0.25);
				border-bottom-color: rgba(255,255,255,0.1);
				color: #e8e8e8;
				cursor: default;
				@include transition-duration(0.15s);
  				-webkit-transition-timing-function: ease-out;

  				&:after {
  					display: block;
  					content: "";
  					border: 4px solid;
  					border-color: transparent transparent transparent rgba(232,232,232,0.95);
  					width: 0px;
  					height: 0px;
  					position: absolute;
  					top: 50%;
  					right: 18px;
  					margin-top: -4px;
  					color: #e8e8e8;
  				}
			}

			&:active {
				background: #fff;
				border-top-color: rgba(0,0,0,0.2);
				border-bottom-color: rgba(255,255,255,0.075);
				//color: #fff;
			}
		}
	}
}

footer#bottom {
	position: fixed;
	//width: $sidebar-column;
	width: 224px;
	bottom: 0px;
	left: 0px;
}

#content {
	margin-left: 225px;
	padding: $gutter $gutter $gutter $gutter;
	background: #fff;

	section {
		padding-top: $gutter * 2;

		&#intro {
			padding-top: 0;

			h2 {
				font-size: ($base-font-size * 4);
				padding: 0;
				line-height: 1.1em;
				
				background: $green;
				color: #fff;
				padding: $gutter;
				
				//color: $green;

			}

			p {
				padding: rhythm(0.6) 0;
				margin-top: rhythm(0.75);
				border-top: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
				font-size: ($base-font-size * 1.5);
				line-height: 1.4em;
				font-style: italic;
			}
		}
	}
}




section#portfolio {
	article {
		background: #1a1f1f;
		padding: $gutter;

		h2 {
			color: $green;

			padding: 0;
			margin: 0;
			font-weight: bold;

			em {
				font-size: 11px;
				display: inline-block;
				padding-left: $gutter;
				text-transform: uppercase;
				font-style: normal;
			}
		}

		div {
			@include pie-clearfix;
		}
		div.align-left {
			
			p, figure {
				float: left;
				margin-right: $gutter / 2;
			}
		}
	}



}



div#scrollfix {

}




