
//	******************************************************************
//	Compass Framework
//	******************************************************************
	
@import
	"compass/reset",
	"compass/utilities",
	"compass/css3",
	"compass/typography/vertical_rhythm",
	"compass/layout/grid-background";

//	******************************************************************
//	Global Variables
//	******************************************************************
	
// Vertical Rhythm
$base-font-size: 16px;
$base-line-height: 25px;

// Debug Vertical Grid
$debug: 0;
$grid-background-baseline-height: 1.461538462em;
$grid-background-baseline-color: rgba(255, 0, 0, 0.4);

// Horizontal Grid
$max-width: 940px;
$gutter: 20px;
$content-column: percentage(695 / 940);
$sidebar-column: percentage(225 / 940);

// Base Styles
$font-family: "Helvetica Neue", sans-serif;
$text-color: #000;
$green: #21b685;


//	******************************************************************
//	Base Styles
//	******************************************************************

// Sets body font size based on vertical rhythm
@include establish-baseline($base-font-size);

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%; 
}

body {
	font-family: $font-family;
	color: $text-color;

	background: url('/assets/images/sidebar.png') 0px 0px repeat-y;

	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%; 
}

//	******************************************************************
//	Imports
//	******************************************************************
@import
	"tools",
	"typography",
	"forms";


//	******************************************************************
//	Main Layout
//	******************************************************************

#welcome {
	max-width: $max-width;
	position: relative;
}


header#top {
	position: fixed;
	width: $sidebar-column;
	max-width: 224px;
	top: 0px;
	left: 0px;

	h1 {
		margin: 0;
		padding: 0;
		border: none;
		height: 110px;
		background: url('/assets/images/logo_bg.png') 0px 0px no-repeat;
		a {
			display: block;
			height: 110px;
			background: url('/assets/images/logo.png') 0px 0px no-repeat;
			text-indent: -99999px;
			border: none;
			position: relative;

			//@include transition-property(opacity);
  			//@include transition-duration(0.5s);

  			span {
				display: block;
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0px;
				left: 0px;
				background: url('/assets/images/logo.png') 0px -110px no-repeat;
				opacity: 0;

				@include transition-property(opacity);
  				@include transition-duration(0.5s);
  				-webkit-transition-timing-function: ease-in;  

  				&:hover {
  					opacity: 1;
  				}
			}
			
			&:hover {
				//opacity: 0;
			}
			
		}
	}
}

footer#bottom {
	position: fixed;
	width: $sidebar-column;
	max-width: 224px;
	bottom: 0px;
	left: 0px;
}

#content {
	margin-left: $sidebar-column;
	padding: $gutter $gutter $gutter $gutter;
	background: #fff;

	section {
		padding-top: $gutter;
	}
}


section#portfolio {
	
	article {
		background: #1a1f1f;
		padding: $gutter;

		h2 {
			color: $green;

			padding: 0;
			margin: 0;
			font-weight: bold;

			em {
				font-size: 11px;
				display: inline-block;
				padding-left: $gutter;
				text-transform: uppercase;
				font-style: normal;
			}
		}

		div {
			@include pie-clearfix;
		}
		div.align-left {
			
			p, figure {
				float: left;
				margin-right: $gutter / 2;
			}
		}
	}



}



div#scrollfix {

}




