
//	******************************************************************
//	Compass Framework
//	******************************************************************
	
@import
	"compass/reset",
	"compass/utilities",
	"compass/css3",
	"compass/typography/vertical_rhythm",
	"compass/layout/grid-background";

//	******************************************************************
//	Global Variables
//	******************************************************************
	
// Vertical Rhythm
$base-font-size: 16px;
$base-line-height: 25px;


// Debug Vertical Grid
$debug: 0;
$grid-background-baseline-height: 1.461538462em;
$grid-background-baseline-color: rgba(255, 0, 0, 0.4);

// Horizontal Grid
$max-width: 990px;
$gutter: 20px;
$content-column: percentage(695 / 940);
$sidebar-column: percentage(225 / 940);

// Base Styles
$font-family: "Helvetica Neue", sans-serif;
$text-color: #000;
$green: #21b685;
$white-text: #e8e8e8;

$tags: branding, print, website, app, signage, email, exhibition, marketing;


//	******************************************************************
//	Base Styles
//	******************************************************************

// Sets body font size based on vertical rhythm
@include establish-baseline($base-font-size);

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%; 
}

body {
	font-family: $font-family;
	color: $text-color;

	background: #e8e8e8 url('/assets/images/sidebar.png') 0px 0px repeat-y;

	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%; 
}

//	******************************************************************
//	Imports
//	******************************************************************
@import
	"tools",
	"typography",
	"forms";


//	******************************************************************
//	Main Layout
//	******************************************************************
#welcome { // this is actually the wrapper element, just easier to have at top for hash nav
	max-width: $max-width;
	position: relative;
	@include clearfix;
}


header#top {
	position: fixed;
	//width: $sidebar-column;
	width: 225px;
	top: 0px;
	left: 0px;


	h1 {
		margin: 0;
		padding: 0;
		border: none;

		height: 110px;
		background: url('/assets/images/logo_bg.png') 0px 0px no-repeat;
		a {
			display: block;
			height: 110px;
			background: url('/assets/images/logo.png') 0px 0px no-repeat;
			text-indent: -99999px;
			border: none;
			position: relative;

  			span {
				display: block;
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0px;
				left: 0px;
				background: url('/assets/images/logo.png') 0px -110px no-repeat;
				opacity: 0;

				//@include transition-property(opacity);
  				//@include transition-duration(0.5s);
  				//-webkit-transition-timing-function: ease-in;  

  				&:hover {
  					opacity: 1;
  				}
			}
		}
	}

	nav {
		font-size: 12px;
		text-transform: uppercase;
		padding: ($gutter) 0;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				margin: 0;
				padding: 0;
			}
		}
		a {
			display: block;
			padding: ($gutter / 1.75) $gutter;
			font-weight: bold;
			@include text-shadow(0px -1px 1px rgba(0,0,0,0.2));
			@include background-clip(padding-box);
			border-bottom: 1px solid rgba(255,255,255,0);
			border-top: 1px solid rgba(255,255,255,0);
			position: relative;
			@include transition-property("background, border-color");
  			
			@include transition-duration(0.2s);
			-webkit-transition-timing-function: ease-in-out;

			&:hover {
				background: rgba(33,182,133,0.8);
				color: #fff;
				border-top-color: rgba(13,74,54,0.7);
				border-bottom-color: rgba(255,255,255,0.075);
			}

			&.active {
				background: rgba(0,0,0,0.25);
				border-top-color: rgba(0,0,0,0.25);
				border-bottom-color: rgba(255,255,255,0.1);
				color: #e8e8e8;
				cursor: default;
				@include transition-duration(0.15s);
  				-webkit-transition-timing-function: ease-out;

  				&:after {
  					display: block;
  					content: "";
  					border: 4px solid;
  					border-color: transparent transparent transparent rgba(232,232,232,0.95);
  					width: 0px;
  					height: 0px;
  					position: absolute;
  					top: 50%;
  					right: 18px;
  					margin-top: -4px;
  					color: #e8e8e8;
  				}
			}

			&:active {
				background: #fff;
				border-top-color: rgba(0,0,0,0.2);
				border-bottom-color: rgba(255,255,255,0.075);
				//color: #fff;
			}
		}
	}
}

footer#bottom {
	position: fixed;
	width: 185px;
	bottom: 0px;
	left: 0px;
	padding: $gutter;
	h2 {
		color: #8c8f8f;
		border-bottom: 1px solid #090b0b;
		padding: 0 0 rhythm(0.25) 0;
		font-size: 16px;
	}
	dl {
		border-top: 1px solid #303535;
		padding: ($gutter / 2) 0;
		dt {
			display: block;
		 	float: left;
			width: 43px;
			text-indent: -9999px;
			padding: 0;
			background-image: url('/assets/images/contact_icons.png');
			background-repeat: no-repeat;
			min-height: 50px;
			clear: left;
			&.post { background-position: 0px 12px; }
			&.phone { background-position: 0px -88px; }
			&.email { background-position: 0px -189px; }
			&.enquiry { background-position: 0px -290px; }
		}
		dd {
			display: block;
			width: 142px;
			float: left;
			padding: 0;
			padding: ($gutter / 2) 0;
			//text-transform: uppercase;
			font-size: 13px;
			line-height: 1.5em;
			//font-weight: bold;
			color: scale-lightness($white-text, -30);

			&.phone {
				font-size: 16px;
			}

			a {
				color: $green;
			}
		}
	}
}



#content {
	margin-left: 225px;
	//float: left;
	padding: $gutter $gutter $gutter $gutter;
	

	section {
		padding-top: $gutter * 2;
		padding-right: 50px;
		@include pie-clearfix;

		max-width: 715px; // firefox chokes without this, dunno why!

		&#intro {
			padding-top: $gutter;

			h2 {
				font-size: ($base-font-size * 4.2);
				padding: 0;
				line-height: 1.1em;
				font-weight: 300;
				color: $green;
			}

			p {
				margin-top: rhythm(1);
				font-size: ($base-font-size * 1.5);
				line-height: 1.5em;

				a {
					padding: 1px 2px;
					background: rgba(33,182,133,0.2);
					font-weight: normal;
					color: $text-color;

					@include transition-property(background);
					@include transition-duration(0.2s);
					-webkit-transition-timing-function: ease-in-out;

					&:hover {
						background: rgba(33,182,133,0.4);
					}
				}

			}
		}

		&#about {
			position: relative;
			a.linkedin {
				display: block;
				position: absolute;
				top: 45px;
				right: 50px;
				width: 80px;
				height: 20px;
				text-indent: 100%;
				white-space: nowrap;
				overflow: hidden;
				background: url('/assets/images/linkedin.png') 0px 0px no-repeat;

				&:hover {
					background-position: 0px -20px;
				}
			}
			figure {
				width: 33.33333333%;
				float: right;
				margin-left: ($gutter / 1.5);
			}
		}
	}
}


section#services {

	article {

		div.inner {
			padding: $gutter;
			background: #fff;
		}

		width: 50%;
		@include border-box();
		padding-bottom: ($gutter * 2);

		&:nth-child(even) {
			float: left;
			clear: left;
			padding-right: $gutter / 2;
		}
		&:nth-child(odd) {
			float: right;
			clear: right;
			padding-left: $gutter / 2;
		}
		
		figure {
			padding-bottom: ($gutter / 2);
		}

		h2 {

			padding-left: $gutter * 1.5;
			background-image: url('/assets/images/icons_grey.png');
			background-repeat: no-repeat;
			font-size: 18px;
			line-height: 37px;
			padding-bottom: 8px;
		}

		$i: 0;
		@each $type in $tags {
			&.#{$type} h2 {
				$px: -(($i * 150px) - 5px);
				background-position: 0px $px;
			}
			$i:$i+1;
		}

		p {
			padding-top: 0;
		}
	}
}


#portfolio {

	//padding-right: 0;
	article {
		background: #1a1f1f;
		margin-bottom: $gutter;
		
		&:last-child {
			margin-bottom: 0;
		}

		h2 {
			color: $green;
			padding: 0;
			margin: 0;
			font-weight: bold;

			a {
				display: block;
				padding: 0 $gutter;
				line-height: 55px;
				height: 55px;
				position: relative;
				
				@include transition-property(all);
				@include transition-duration(0.1s);
				-webkit-transition-timing-function: ease-in-out;
				
				span {
					display: block;
					width: 50px;
					height: 100%;
					background: $green;
					position: absolute;
					top: -5px;
					right: -55px;
					font-size: 11px;
					font-weight: bold;
					color: #fff;
					text-transform: uppercase;
					font-style: normal;
					text-align: center;
					line-height: 45px;
					height: 55px;
					@include text-shadow(-1px 0px 1px rgba(0,0,0,0.2));
					-webkit-backface-visibility: hidden;
					@include background-clip(padding-box);
					border: 5px solid rgba(255,255,255,0);

					@include transition-property(all);
					@include transition-duration(0.15s);
					
					-webkit-transition-timing-function: ease-in-out;
					-webkit-transform-style:preserve-3d;

					&:hover {
						background: $green;
					}

					&:after {
						content: "";
						display: block;
						width: 0px;
						height: 0px;
						border: 5px solid;
	  					border-color: transparent transparent #fff transparent;
	  					width: 0px;
	  					height: 0px;
	  					position: absolute;
	  					top: 31px;
	  					right: 21px;
	  					color: #e8e8e8;
					}

					&.open {
						&:after {
							border-color: #fff transparent transparent transparent;
							top: 36px;
						}
					}
					&:active {
						background: #fff;
					}
				}


				&:hover {
					background: #000;
					color: scale-saturation($green, 50);

					span {
						border-color: transparent;
					}
				}
			
			}
			em {
				font-size: 11px;
				display: inline-block;
				padding-left: $gutter;
				text-transform: uppercase;
				font-style: normal;
			}
		}

		&.open {
			h2 {
				a {
					color: $white-text;
				}
			}
		}

		blockquote {
			margin: 0 $gutter;
			padding: ($gutter / 1.5) 0;
			border-top: 1px solid #484c4c;
			color: scale-lightness($white-text, -15);
			font-size: 14px;
			line-height: 1.5em;
			p.cite {
				color: #8c8f8f;
			}
		}

		.contents {
			@include clearfix();
			//-webkit-transform-style:preserve-3d;
		}
	}
}

#pipeline {
	article {
		background: rgba(0,0,0,0.05);
		border: 1px solid;
		border-bottom: none;
		border-color: rgba(0,0,0,0.05) rgba(255,255,255,0.7) rgba(255,255,255,0.7) rgba(0,0,0,0.05);


		&:last-child {
			border-bottom: 1px solid rgba(255,255,255,0.7);
		}
		
	}

	article + article {
		border-top: none;
		.panel {
			hr {
				display: block;
			}
		}
	}
}
div.panel {
	
	.panel_inner {
		@include clearfix();
		padding: ($gutter / 2) 0 ($gutter * 1.5) 0;
		margin: 0 ($gutter / 2) 0 $gutter;

		#pipeline & {
			padding: $gutter 0;
		}
	}



	hr {
		padding: 0;
		border-bottom: 1px solid #484c4c;
		
		margin: 0 $gutter;

		#pipeline & {
			height: 1px;
			border-bottom: none;
			border-top: 1px solid rgba(0,0,0,0.1);
			background: rgba(255,255,255,0.4);
			display: none;
		}
	}

	h3 {
		padding: 0 0 10px 0;
		line-height: 1.5em;
		font-size: 17px;
		color: $white-text;
		#pipeline & {
			color: $text-color;
		}
	}

	p {
		color: $white-text;
		font-size: 14px;
		line-height: 21px;

		#pipeline & {
			color: $text-color;
		}
	}
	&.align-left {
		p, figure {
			float: left;
			margin: 0px;
			padding: 0;
		}
	}


	&.align-right {
		p, figure {
			float: right;
			margin: 0px;
			padding: 0;
		}
	}

	// 1 Picture
	&.images-1 {
		p, figure {
			width: 50%;
			@include border-box();
			padding-right: $gutter / 2;
		}
	}
	// 1 Picture with no text
	&.images-1.notext {
		figure {
			width: 100%;
		}
	}
	// 1 picture, aligned right
	&.images-1.align-right {
		p {
			padding: 0 $gutter / 2;
		}
	}


	&.images-2 {
		p, figure {
			width: 33.3333333333333%;
			@include border-box();
		}
		figure {
			padding-right: $gutter / 2;
		}
		p {
			padding-right: $gutter;
		}
	}

	&.align-right.images-2 {
		p {
			padding: 0 $gutter / 2;
		}
	}

	&.notext.images-2 {
		figure {
			width: 50%;
			padding-right: $gutter / 2;
		}
	}

	&.images-3 {
		figure {
			width: 33.3333333333333%;
			@include border-box();
			padding-right: $gutter / 2;
		}
	}


}


// Portfolio Tags
ul.tags {
	padding: 0;
	margin: 0 $gutter;
	list-style: none;
	@include clearfix;
	li {
		float: left;
		width: 12.5%;
		margin: 0;
		padding: 0;
		height: 80px;
		line-height: 120px;
		background-image: url('/assets/images/icons.png');
		background-repeat: no-repeat;
		color: $white-text;
		font-size: 10px;
		text-transform: uppercase;
		text-align: center;
		$i: 0;
		@each $type in $tags {
		  &.#{$type} {
		  	$px: -(($i * 80px) - 12px);
		    background-position: center $px;
		  }
		  $i:$i+1;
		}


	}
}

div#scrollfix {

}




