/*
Syntax error: Invalid CSS after "": expected selector or at-rule, was "}"
        on line 1 of /Users/steve/Sites/cliffdesign_co_uk/sass/ie_old.scss

1: /Users/steve/Sites/cliffdesign_co_uk/sass/ie_old.scss

Backtrace:
/Users/steve/Sites/cliffdesign_co_uk/sass/ie_old.scss:1
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/scss/parser.rb:928:in `expected'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/scss/parser.rb:874:in `expected'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/scss/parser.rb:28:in `parse'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/engine.rb:326:in `_to_tree'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/engine.rb:299:in `_render'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/engine.rb:247:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/util.rb:310:in `silence_sass_warnings'
/Library/Ruby/Gems/1.8/gems/sass-3.1.15/lib/sass/../sass/engine.rb:247:in `render'
/Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:139:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:125:in `timed'
/Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:138:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.1/lib/compass/logger.rb:45:in `red'
/Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:137:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:117:in `compile_if_required'
/Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:102:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:100:in `each'
/Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:100:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:125:in `timed'
/Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.1/lib/compass/compiler.rb:99:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.1/lib/compass/commands/watch_project.rb:142:in `recompile'
/Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.1/lib/compass/commands/watch_project.rb:94:in `perform'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.8.1/lib/fssm/path.rb:73:in `call'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.8.1/lib/fssm/path.rb:73:in `run_callback'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.8.1/lib/fssm/path.rb:55:in `callback_action'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.8.1/lib/fssm/path.rb:39:in `delete'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.8.1/lib/fssm/state/directory.rb:32:in `deleted'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.8.1/lib/fssm/state/directory.rb:31:in `each'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.8.1/lib/fssm/state/directory.rb:31:in `deleted'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.8.1/lib/fssm/state/directory.rb:16:in `refresh'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.8.1/lib/fssm/backends/rbfsevent.rb:30:in `temporary_multipath_handler'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.8.1/lib/fssm/backends/rbfsevent.rb:27:in `each'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.8.1/lib/fssm/backends/rbfsevent.rb:27:in `temporary_multipath_handler'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.8.1/lib/fssm/backends/rbfsevent.rb:17:in `run'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.8.1/lib/fssm/backends/rbfsevent.rb:16:in `each'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.8.1/lib/fssm/backends/rbfsevent.rb:16:in `run'
/Library/Ruby/Gems/1.8/gems/rb-fsevent-0.9.0/lib/rb-fsevent/fsevent.rb:37:in `call'
/Library/Ruby/Gems/1.8/gems/rb-fsevent-0.9.0/lib/rb-fsevent/fsevent.rb:37:in `run'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.8.1/lib/fssm/backends/rbfsevent.rb:20:in `run'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.8.1/lib/fssm/monitor.rb:26:in `run'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.8.1/lib/fssm.rb:70:in `monitor'
/Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.1/lib/compass/commands/watch_project.rb:86:in `perform'
/Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.1/lib/compass/commands/base.rb:18:in `execute'
/Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.1/lib/compass/commands/project_base.rb:19:in `execute'
/Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.1/bin/compass:25
/Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.1/bin/compass:39:in `call'
/Library/Ruby/Gems/1.8/gems/compass-0.12.alpha.1/bin/compass:39
/usr/bin/compass:19:in `load'
/usr/bin/compass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"\": expected selector or at-rule, was \"}\"\A         on line 1 of /Users/steve/Sites/cliffdesign_co_uk/sass/ie_old.scss\A \A 1: /Users/steve/Sites/cliffdesign_co_uk/sass/ie_old.scss"; }
