html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  font-size: 100%;
  line-height: 1.563em;
}

html > body {
  font-size: 16px;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  color: black;
  background: white url("/assets/images/sidebar.png") 0px 0px repeat-y;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.print_only {
  display: none;
}

.visuallyhidden {
  visibility: hidden;
  height: 0px;
  width: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 24px;
  padding: 3px 0 0.547em 0;
  margin-bottom: 0.625em;
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
  line-height: 1.5em;
  padding-top: 0em;
  padding-bottom: 1.25em;
}

h3 {
  font-size: 16px;
  line-height: 1.5em;
  padding-top: 1.953em;
  padding-bottom: 1.172em;
}

h4 {
  font-size: 13px;
  line-height: 1.5em;
  padding-top: 2.404em;
  padding-bottom: 1.442em;
}

hr {
  height: 0px;
  padding: 0;
  margin-bottom: 0.781em;
  margin-top: 0.781em;
  border: none;
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 1.5em;
  border-color: #ccc;
}

blockquote p {
  font-style: italic;
}
blockquote p.cite {
  padding-top: 0px;
  text-transform: uppercase;
  font-size: 10px;
  font-style: normal;
  font-weight: bold;
}

pre {
  background: rgba(255, 255, 0, 0.1);
  margin-bottom: 0.781em;
  margin-top: 0.781em;
  padding: 0.781em 1.563em;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: dotted;
  border-width: 0.063em;
  padding: 1.5em;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
  color: red;
  padding-bottom: 1.563em;
}
ol li {
  color: black;
}

p + p {
  padding-top: 1.563em;
}

p + ul, p + ol, p + dl {
  padding-top: 1.563em;
}

a {
  color: #21b685;
  text-decoration: none;
}

dl dt {
  font-weight: bold;
}
dl dd {
  padding-left: 1.563em;
  padding-bottom: 1.563em;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

code {
  font-family: monospace;
  font-size: 0.938em;
  line-height: 0em;
  color: #BC5401;
}

figure {
  position: relative;
}

figure img, figure object, figure embed, figure video {
  max-width: 100%;
  display: block;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure.full {
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 33.55%;
  height: 0px;
  background: url("/assets/images/loading.gif") 50% 50% no-repeat;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
figure.full img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
figure.full div {
  padding: 0 20px;
  width: 100%;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  bottom: 0px;
  z-index: 101;
}
figure.full div figcaption {
  display: block;
  max-width: 23.936%;
  min-width: 23.936%;
  background: rgba(0, 0, 0, 0.6);
  padding: 6.667px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  color: #777;
  font-size: 0.75em;
  line-height: 1.771em;
}
figure.full div figcaption a {
  color: #aaa;
  border-color: #777;
}

/*- Default Form Styles
----------------------------------------------------------------------*/
form.default {
  *zoom: 1;
  padding: 20px 20px 25px 20px;
  background: #1a1f1f;
  border-bottom: 1px solid #fff;
  -webkit-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.8);
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.8);
  color: #e8e8e8;
  margin-top: 20px;
  /* Labels ----------*/
  /*- Default Input / Textarea ----------*/
  /*- Select ----------*/
  /*- Checkbox ----------*/
  /*- Error Styles ----------*/
}
form.default:after {
  content: "";
  display: table;
  clear: both;
}
form.default fieldset {
  /* Honeypot field */
}
form.default fieldset hr {
  height: 1px;
  background: rgba(0, 0, 0, 0.5);
  padding: 0;
  margin: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
  width: 100%;
  float: left;
}
form.default fieldset legend {
  margin-bottom: 20px;
  display: block;
  font-size: 18px;
  line-height: 20px;
  overflow: hidden;
  color: #bababa;
  border-right: 6px solid rgba(255, 255, 255, 0.7);
  padding-right: 8px;
  height: 20px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 5s;
  -moz-transition-duration: 5s;
  -ms-transition-duration: 5s;
  -o-transition-duration: 5s;
  transition-duration: 5s;
  -webkit-transition-timing-function: ease-in-out;
}
form.default fieldset p {
  padding: 0 0 20px 0;
  margin: 0;
  *zoom: 1;
  position: relative;
}
form.default fieldset p:after {
  content: "";
  display: table;
  clear: both;
}
form.default fieldset p.trap {
  display: none;
}
form.default label {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  padding: 0.469em 0 0.391em 0;
  width: 17.5%;
  float: left;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #bababa;
}
form.default label.cbox {
  width: auto;
  float: none;
  padding: 0;
  margin: 0;
  text-align: left;
}
form.default label.radio {
  width: 95px;
  padding-right: 0;
  float: left;
  text-align: left;
}
form.default label.placeholder {
  padding-left: 8px;
  color: #999;
}
form.default input.def, form.default textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  border: 1px solid #d1d2d4;
  background: rgba(255, 255, 255, 0.1);
  padding: 0.547em;
  margin: 0 0 0 0;
  width: 82.5%;
  float: right;
  border-color: rgba(0, 0, 0, 0.5) rgba(255, 255, 255, 0.05) rgba(255, 255, 255, 0.05) rgba(0, 0, 0, 0.5);
  color: #e8e8e8;
  outline: none;
  -webkit-transition-property: background, box-shadow;
  -moz-transition-property: background, box-shadow;
  -ms-transition-property: background, box-shadow;
  -o-transition-property: background, box-shadow;
  transition-property: background, box-shadow;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in-out;
}
form.default input.def:focus, form.default textarea:focus {
  -webkit-box-shadow: 0px 0px 6px #21b685;
  -moz-box-shadow: 0px 0px 6px #21b685;
  box-shadow: 0px 0px 6px #21b685;
  border-color: #21b685;
  background: rgba(255, 255, 255, 0.15);
}
form.default textarea {
  height: 10em;
  float: right;
}
form.default input.medium {
  width: 250px;
}
form.default input.small-medium {
  width: 200px;
}
form.default input.small {
  width: 150px;
}
form.default input.tiny {
  width: 30px;
}
form.default select {
  margin-right: 5px;
  margin-top: 4px;
}
form.default label.cbox input {
  margin: 0 5px 2px 0;
  padding: 0;
  border: none;
}
form.default input.error, form.default textarea.error {
  border-color: #f77 #f77 #f77 #f77;
  background: #fff;
}
form.default .file {
  font-size: 17px;
  padding: 8px 12px;
}

/*- Buttons ----------*/
.button, a.btn {
  line-height: 30px;
  background: #666;
  color: #fff;
  float: left;
  padding: 0 15px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  margin: 0px 0 0 0;
  border: none;
  font-size: 15px;
  cursor: pointer;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #21b685), color-stop(100%, #1a926a));
  background-image: -webkit-linear-gradient(#21b685, #1a926a);
  background-image: -moz-linear-gradient(#21b685, #1a926a);
  background-image: -o-linear-gradient(#21b685, #1a926a);
  background-image: -ms-linear-gradient(#21b685, #1a926a);
  background-image: linear-gradient(#21b685, #1a926a);
  margin-left: 17.5%;
}

.button:hover, a.btn:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6e6e6e), color-stop(100%, #4a4a4a));
  background-image: -webkit-linear-gradient(#6e6e6e, #4a4a4a);
  background-image: -moz-linear-gradient(#6e6e6e, #4a4a4a);
  background-image: -o-linear-gradient(#6e6e6e, #4a4a4a);
  background-image: -ms-linear-gradient(#6e6e6e, #4a4a4a);
  background-image: linear-gradient(#6e6e6e, #4a4a4a);
}

.button.sending, .button.sending:hover {
  background: url("/img/design/btn_sending.gif") 0.781em 50% no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aaaaaa), color-stop(100%, #777777));
  background: url("/img/design/btn_sending.gif") 0.781em 50% no-repeat, -webkit-linear-gradient(#aaaaaa, #777777);
  background: url("/img/design/btn_sending.gif") 0.781em 50% no-repeat, -moz-linear-gradient(#aaaaaa, #777777);
  background: url("/img/design/btn_sending.gif") 0.781em 50% no-repeat, -o-linear-gradient(#aaaaaa, #777777);
  background: url("/img/design/btn_sending.gif") 0.781em 50% no-repeat, -ms-linear-gradient(#aaaaaa, #777777);
  background: url("/img/design/btn_sending.gif") 0.781em 50% no-repeat, linear-gradient(#aaaaaa, #777777);
  padding-left: 2.656em;
}

/*- Required Marker ----------*/
abbr.req {
  color: #21b685;
  font-size: 20px;
  padding-right: 3px;
  font-weight: normal;
}

strong.short_error {
  font-size: 0.75em;
  line-height: 2.083em;
  font-weight: normal;
  background: #B8494A;
  background: rgba(158, 0, 2, 0.7);
  color: #fff;
  padding: 0 0.781em;
  line-height: 25px;
  margin: 0;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 99999;
  white-space: nowrap;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 5px;
}
strong.short_error:after {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border: 5px solid;
  border-color: transparent;
  border-top-color: #B8494A;
  border-color: rgba(158, 0, 2, 0.6) transparent transparent transparent;
  position: absolute;
  bottom: -10px;
  left: 13px;
}

p.textarea strong.short_error {
  left: 580px;
}

p + form {
  padding-top: 1.563em;
}

p + div.alert {
  margin-top: 1.563em;
}

#welcome {
  max-width: 990px;
  position: relative;
  overflow: hidden;
  *zoom: 1;
}

header#top {
  position: fixed;
  width: 225px;
  top: 0px;
  left: 0px;
}
header#top h1 {
  margin: 0;
  padding: 0;
  border: none;
  height: 110px;
  background: url("/assets/images/logo_bg.png") 0px 0px no-repeat;
}
header#top h1 a {
  display: block;
  height: 110px;
  background: url("/assets/images/logo.png") 0px 0px no-repeat;
  text-indent: -99999px;
  border: none;
  position: relative;
}
header#top h1 a span {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: url("/assets/images/logo.png") 0px -110px no-repeat;
  opacity: 0;
}
header#top h1 a span:hover {
  opacity: 1;
}
header#top nav {
  font-size: 12px;
  text-transform: uppercase;
  padding: 20px 0;
}
header#top nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header#top nav ul li {
  margin: 0;
  padding: 0;
}
header#top nav a {
  display: block;
  padding: 11.429px 20px;
  font-weight: bold;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  border-top: 1px solid rgba(255, 255, 255, 0);
  position: relative;
  -webkit-transition-property: background, border-color, color;
  -moz-transition-property: background, border-color, color;
  -ms-transition-property: background, border-color, color;
  -o-transition-property: background, border-color, color;
  transition-property: background, border-color, color;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -ms-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-in-out;
}
header#top nav a:hover {
  background: rgba(33, 182, 133, 0.8);
  color: #fff;
  border-top-color: rgba(13, 74, 54, 0.7);
  border-bottom-color: rgba(255, 255, 255, 0.075);
}
header#top nav a.active {
  background: rgba(0, 0, 0, 0.25);
  border-top-color: rgba(0, 0, 0, 0.25);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  color: #e8e8e8;
  cursor: default;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -ms-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-out;
}
header#top nav a.active:after {
  display: block;
  content: "";
  border: 4px solid;
  border-color: transparent transparent transparent rgba(232, 232, 232, 0.95);
  width: 0px;
  height: 0px;
  position: absolute;
  top: 50%;
  right: 18px;
  margin-top: -4px;
  color: #e8e8e8;
}
header#top nav a:active {
  background: #fff;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(255, 255, 255, 0.075);
}

footer#bottom {
  position: fixed;
  width: 185px;
  bottom: 0px;
  left: 0px;
  padding: 20px;
}
footer#bottom h2 {
  color: #8c8f8f;
  border-bottom: 1px solid #090b0b;
  padding: 0 0 0.391em 0;
  font-size: 16px;
}
footer#bottom dl {
  border-top: 1px solid #303535;
  padding: 10px 0;
}
footer#bottom dl dt {
  display: block;
  float: left;
  width: 43px;
  text-indent: -9999px;
  padding: 0;
  background-image: url("/assets/images/contact_icons.png");
  background-repeat: no-repeat;
  min-height: 50px;
  clear: left;
}
footer#bottom dl dt.post {
  background-position: 0px 12px;
}
footer#bottom dl dt.phone {
  background-position: 0px -88px;
}
footer#bottom dl dt.email {
  background-position: 0px -189px;
}
footer#bottom dl dt.enquiry {
  background-position: 0px -290px;
}
footer#bottom dl dd {
  display: block;
  width: 142px;
  float: left;
  padding: 0;
  padding: 10px 0;
  font-size: 13px;
  line-height: 1.5em;
  color: #a2a2a2;
}
footer#bottom dl dd.phone {
  font-size: 16px;
}
footer#bottom dl dd a {
  color: #21b685;
}

#content {
  margin-left: 225px;
  padding: 20px 20px 20px 20px;
}
#content section {
  padding-top: 40px;
  padding-right: 50px;
  *zoom: 1;
  max-width: 715px;
}
#content section:after {
  content: "";
  display: table;
  clear: both;
}
#content section#intro {
  padding-top: 20px;
}
#content section#intro h2 {
  font-size: 67.2px;
  padding: 0;
  line-height: 1.1em;
  font-weight: 300;
  color: #21b685;
}
#content section#intro p {
  margin-top: 1.563em;
  font-size: 24px;
  line-height: 1.5em;
}
#content section#intro p a {
  padding: 1px 2px;
  background: rgba(33, 182, 133, 0.2);
  font-weight: normal;
  color: black;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -ms-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
}
#content section#intro p a:hover {
  background: rgba(33, 182, 133, 0.4);
}
#content section#about {
  position: relative;
}
#content section#about a.linkedin {
  display: block;
  position: absolute;
  top: 45px;
  right: 50px;
  width: 80px;
  height: 20px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url("/assets/images/linkedin.png") 0px 0px no-repeat;
}
#content section#about a.linkedin:hover {
  background-position: 0px -20px;
}
#content section#about figure {
  width: 33.33333333%;
  float: right;
  margin-left: 13.333px;
}

section#services article {
  width: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 40px;
}
section#services article div.inner {
  padding: 20px;
  background: #fff;
}
section#services article:nth-child(even) {
  float: left;
  clear: left;
  padding-right: 10px;
}
section#services article:nth-child(odd) {
  float: right;
  clear: right;
  padding-left: 10px;
}
section#services article figure {
  padding-bottom: 10px;
}
section#services article h2 {
  padding-left: 30px;
  background-image: url("/assets/images/icons_grey.png");
  background-repeat: no-repeat;
  font-size: 18px;
  line-height: 37px;
  padding-bottom: 8px;
}
section#services article.branding h2 {
  background-position: 0px 5px;
}
section#services article.print h2 {
  background-position: 0px -145px;
}
section#services article.website h2 {
  background-position: 0px -295px;
}
section#services article.app h2 {
  background-position: 0px -445px;
}
section#services article.signage h2 {
  background-position: 0px -595px;
}
section#services article.email h2 {
  background-position: 0px -745px;
}
section#services article.exhibition h2 {
  background-position: 0px -895px;
}
section#services article.marketing h2 {
  background-position: 0px -1045px;
}
section#services article p {
  padding-top: 0;
}

#portfolio article {
  background: #1a1f1f;
  margin-bottom: 20px;
}
#portfolio article:last-child {
  margin-bottom: 0;
}
#portfolio article h2 {
  color: #21b685;
  padding: 0;
  margin: 0;
  font-weight: bold;
}
#portfolio article h2 a {
  display: block;
  padding: 0 20px;
  line-height: 55px;
  height: 55px;
  position: relative;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in-out;
}
#portfolio article h2 a span {
  display: block;
  width: 50px;
  height: 100%;
  background: #21b685;
  position: absolute;
  top: -5px;
  right: -55px;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  font-style: normal;
  text-align: center;
  line-height: 45px;
  height: 55px;
  text-shadow: -1px 0px 1px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 5px solid rgba(255, 255, 255, 0);
  display: none;
  -webkit-backface-visibility: "hidden";
  backface-visibility: "hidden";
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#portfolio article h2 a span:hover {
  background: #21b685;
}
#portfolio article h2 a span:after {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border: 5px solid;
  border-color: transparent transparent #fff transparent;
  width: 0px;
  height: 0px;
  position: absolute;
  top: 31px;
  right: 21px;
  color: #e8e8e8;
}
#portfolio article h2 a span.open:after {
  border-color: #fff transparent transparent transparent;
  top: 36px;
}
#portfolio article h2 a span:active {
  background: #fff;
}
#portfolio article h2 a:hover {
  background: #000;
  color: #10c78b;
}
#portfolio article h2 a:hover span {
  border-color: transparent;
}
#portfolio article h2 em {
  font-size: 11px;
  display: inline-block;
  padding-left: 20px;
  text-transform: uppercase;
  font-style: normal;
}
#portfolio article.open h2 a {
  color: #e8e8e8;
}
#portfolio article blockquote {
  margin: 0 20px;
  padding: 13.333px 0;
  border-top: 1px solid #484c4c;
  color: #c5c5c5;
  font-size: 14px;
  line-height: 1.5em;
}
#portfolio article blockquote p.cite {
  color: #8c8f8f;
}
#portfolio article .contents {
  overflow: hidden;
  *zoom: 1;
}

#pipeline article {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid;
  border-bottom: none;
  border-color: rgba(0, 0, 0, 0.05) rgba(255, 255, 255, 0.7) rgba(255, 255, 255, 0.7) rgba(0, 0, 0, 0.05);
}
#pipeline article:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}
#pipeline article + article {
  border-top: none;
}
#pipeline article + article .panel hr {
  display: block;
}

div.panel .panel_inner {
  overflow: hidden;
  *zoom: 1;
  padding: 10px 0 30px 0;
  margin: 0 10px 0 20px;
}
#pipeline div.panel .panel_inner {
  padding: 20px 0;
}
div.panel hr {
  padding: 0;
  border-bottom: 1px solid #484c4c;
  margin: 0 20px;
}
#pipeline div.panel hr {
  height: 1px;
  border-bottom: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.4);
  display: none;
}
div.panel h3 {
  padding: 0 0 10px 0;
  line-height: 1.5em;
  font-size: 17px;
  color: #e8e8e8;
}
#pipeline div.panel h3 {
  color: black;
}
div.panel p {
  color: #e8e8e8;
  font-size: 14px;
  line-height: 21px;
}
#pipeline div.panel p {
  color: black;
}
div.panel.align-left p, div.panel.align-left figure {
  float: left;
  margin: 0px;
  padding: 0;
}
div.panel.align-right p, div.panel.align-right figure {
  float: right;
  margin: 0px;
  padding: 0;
}
div.panel.images-1 p, div.panel.images-1 figure {
  width: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 10px;
}
div.panel.images-1.notext figure {
  width: 100%;
}
div.panel.images-1.align-right p {
  padding: 0 10px;
}
div.panel.images-2 p, div.panel.images-2 figure {
  width: 33.3333333333333%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
div.panel.images-2 figure {
  padding-right: 10px;
}
div.panel.images-2 p {
  padding-right: 20px;
}
div.panel.align-right.images-2 p {
  padding: 0 10px;
}
div.panel.notext.images-2 figure {
  width: 50%;
  padding-right: 10px;
}
div.panel.images-3 figure {
  width: 33.3333333333333%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 10px;
}

ul.tags {
  padding: 0;
  margin: 0 20px;
  list-style: none;
  overflow: hidden;
  *zoom: 1;
}
ul.tags li {
  float: left;
  width: 12.5%;
  margin: 0;
  padding: 0;
  height: 80px;
  line-height: 120px;
  background-image: url("/assets/images/icons.png");
  background-repeat: no-repeat;
  color: #e8e8e8;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
}
ul.tags li.branding {
  background-position: center 12px;
}
ul.tags li.print {
  background-position: center -68px;
}
ul.tags li.website {
  background-position: center -148px;
}
ul.tags li.app {
  background-position: center -228px;
}
ul.tags li.signage {
  background-position: center -308px;
}
ul.tags li.email {
  background-position: center -388px;
}
ul.tags li.exhibition {
  background-position: center -468px;
}
ul.tags li.marketing {
  background-position: center -548px;
}

ul.contacts {
  overflow: hidden;
  *zoom: 1;
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0 20px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.05) rgba(255, 255, 255, 0.7) rgba(255, 255, 255, 0.7) rgba(0, 0, 0, 0.05);
}
ul.contacts li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.333333333%;
  float: left;
  padding: 20px 20px 20px 40px;
  background-image: url("/assets/images/contact_icons_black.png");
  background-repeat: no-repeat;
}
ul.contacts li.post {
  background-position: 0px 25px;
}
ul.contacts li.phone {
  background-position: 0px -75px;
  font-size: 18px;
}
ul.contacts li.email {
  background-position: 0px -175px;
}
ul.contacts li strong {
  display: block;
  font-weight: normal;
}
